@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    max-width: 1440px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

/* main */


.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
}


/* article section */
.articles {
  max-width: 1240px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: auto;
  padding: 0;
  color: #901C1C;
}

/*card container*/
.card-container {
  margin: 25px auto;
}

/* heart */
.fa-solid, .fas {
  margin-left: 5px;
}


/* Modal Container*/
#lightbox-container {
  display: none;
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  position: absolute;
  top: 40px;
  left: 101px;
  background-color: #E5E5E5;
}

#lightbox-content {
  position: relative;
}


#lightbox {
  display: flex;
  position: relative;
  padding: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

#lightBoxImg {
  /* max-width: 1000px; */
  max-height: 600px;
  width: 100%;
  object-fit: cover;
}

#lightBoxVideo {
  display: flex;
  max-width: 1000px;
  max-height: 600px;
  width: 100%;
  object-fit: cover;
  height: 100%;
  object-fit: fill;
  border-radius: 5px;
}

.lightbox-title {
  font-family: "DM Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

#cross {
  position: absolute;
  right: 33px;
  top: 20px;
}

/* img Description */
.imgDescription {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 400px;
}

/* heartCtn */
.heartCtn {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 350px;
}


/*Arrows*/
#previous-media {
  border: none;
  color: #901C1C;
  background-color: #E5E5E5;
  font-size: 40px;
}

#next-media {
  border: none;
  color: #901C1C;
  background-color: #E5E5E5;
  font-size: 40px;
}

.sortForm {
  max-width: 1240px;
  flex-direction: row;
  margin: 0 100px;
  margin-top:  2rem;
}


/* Likes & Price Container  */
#likesPriceContainer {
  background-color: #DB8876;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  max-width: 300px;
  position: fixed;
  bottom: -10px;
  right: 15px;
  justify-content: space-around;
  border-radius: 5px;
  width: 100%;
  padding: 0;
}


#sortForm {
  display: flex;
  max-width: 1240px;
  margin: 25px auto;
}

#dropDown{
  background-color: #901C1C;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  border-radius: 5px;
  margin-left: 16px ;
}

#dropDown a {
  color: white;
  text-decoration: none;
}

#form-select {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#selects {
  display: none;
  flex-direction: column;
  margin-left: 17px;
}


.fa-angle-down {
  display: none;
}

.underlines {
  border-bottom: 1px solid white;
}

.selected {
  margin-top: 15px;
}
